<h2 class="title">編輯個人資料</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :username, '使用者帳號' %><br />
    <div class="control">
      <%= f.text_field :username, class: "input" %>
    </div>
    <p class="help is-success">範例：@煞氣小子</p>
  </div>

  <div class="field">
    <%= f.label :intro, '個人簡介' %><br />
    <div class="control">
      <%= f.text_area :intro, class: "textarea", rows: 5 %>
    </div>
    <p class="help is-success">範例：寫作目標，擅長領域...等等</p>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <div class="control">
      <%= f.email_field :email, autocomplete: "email", class: "input" %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don"t want to change it)</i><br />
    <div class="control">
      <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <div class="control">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "更新資料", class: "button is-info" %>
  </div>
<% end %>
</br>
<p>如果您不想繼續使用，可以選擇 <%= button_to "刪除帳戶", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button is-danger is-small" %></p>
</br>
<div class="back_button">
  <%= link_to "回上一頁", :back , class: "button is-small is-link"%>
</div>
